@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

* {box-sizing: border-box;
  /* margin: 0;
	padding: 0;	 */
}

html {
  scroll-behavior: smooth;
  height: 100%;
  font-family: 'Bebas Neue', cursive;
}

body {
  position: relative;
  background-image: url("/images/beerbackground1.jpg");
  background-size: cover;
  background-attachment: fixed;
  margin: 0 auto;

}

/**********     HOME        ***************************/

.back-containter {
  margin-top: 70px;
}

.banner {
  background-image: url("/images/Beerlight-homebanner.jpg");
  background-color: #cccccc;
  height: 900px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-width: 100%;
  min-height: 120%;
}

.box {
  background-color: rgba(0,0,0,.5);
  color: #fff;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  
}


.box h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 150px;
}

@media (max-width: 768px) {
  .box h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
  }
}



/*********   LOGIN - SIGNUP FORM   **********************/

@keyframes background {
  100% {background-size: 4000px 1000px;}
  
}
  
.body {
  display: flex;
	align-items: center;
	justify-content: center;
  padding-top: 50px;
}

@media (width >= 300px) {
  .body {
    margin: 100px 50px;
    }

}

.display-login, .display-signup {
  background: linear-gradient(90deg, #000000, #1e180c);		
  /* background-image: url("/images/henry-co--7XBGB1dW8w-unsplash.jpg");
  background-size: cover; */
  position: relative;	
	height: 600px;
	width: 360px;	
	box-shadow: 0px 0px 24px #D99379;
  border-radius: 10px;
}

.login-content, .signup-content {
  z-index: 1;
	position: relative;	
	height: 100%;
}


.login, .signup {
	width: 320px;
	padding: 30px;
	padding-top: 156px;
}

.signup {
	padding-top: 20px;
}

.log-screen-background, .signup-screen-background {		
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);	
}

.log-screen-background-shape, .signup-screen-background-shape {
	transform: rotate(45deg);
	position: absolute;
}

.log-screen-background-shape1, .signup-screen-background-shape1{
	height: 520px;
	width: 520px;
	background: #FFF;	
	top: -50px;
	right: 120px;	
	border-radius: 0 72px 0 0;
}

.login-input, .signup-input {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 75%;
	transition: .2s;
}

.login-input:active,
.login-input:focus,
.login-input:hover,
.signup-input:active,
.signup-input:focus,
.signup-input:hover  {
	outline: none;
	border-bottom-color: #D99379;
}

.login-submit, .signup-submit {
	background: #fff;
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #D99379;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 100%;
	color: #200C10;
	box-shadow: 0px 2px 2px #D99379;
	cursor: pointer;
	transition: .2s;
}

.login-submit:active,
.login-submit:focus,
.login-submit:hover,
.signup-submit:active,
.signup-submit:focus,
.signup-submit:hover  {
	border-color: #802D06;
	outline: none;
}

.button-icon {
	font-size: 24px;
	margin-left: auto;
	color: #59352D;
}


.login-field, .signup-field {
	padding: 20px 0px;	
	position: relative;	
}

.login-icon, .signup-icon {
	position: absolute;
	top: 30px;
	color: #7875B5;
}

.note {
  margin-left: 30px;
  color: white;
  text-decoration: underline;
}



/*****   TOUR SHOW STYLE    **********************/

.container2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  column-gap: 0px;
  row-gap: 24px;
  max-width: 948px;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
  
}

.card2 {
  height: 120px;
  width: 280px;
  border: 3px solid;
  border-radius: 10px;
  text-align: center;
  border-color: rgb(159, 167, 18);
  font-size: 12px;
  line-height: 15px;
  box-shadow: 0 5px 10px rgba(31, 23, 23, 0.05), 0 15px 40px rgba(226, 245, 169, 0.2);
  background-color: aliceblue;
}

.center-title {
  text-align: center;
  margin-top: 20px;

}

.center-title button {
  margin-top: 5px;
}

.background_modal{
  background-image: url("/images/brewboxesmodal.jpg");
  background-size: cover;
  overflow:hidden;

}

.card2 a {
  margin-left: 30%;
  margin-right: 30%;
}

.titlebrew{
  font-size:30px;
}



/************  TOURS PAGE SIDE BY SIDE   **************/

.e-tour {
  padding-bottom: 30px;
  
  }

.your-tours-container {
  display: flex;
  margin-top: 200px ;
  color:yellow;
  justify-content: center;
  text-align: center;


}

.left-tour-item-wrap {
  float: left;
  width: 400px;
  flex: 1;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 50px;
  background-color: #090b13;
  box-shadow: rgba(237, 240, 46, 0.4) -5px 5px, rgba(224, 240, 46, 0.3) -10px 10px, rgba(195, 240, 46, 0.2) -15px 15px, rgba(233, 240, 46, 0.1) -20px 20px, rgba(175, 240, 46, 0.05) -25px 25px;


}


.right-tour-item-wrap {
  float: right;
  width: 400px;
  flex: 1;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 50px;
  background-color: #090b13;
  box-shadow: rgba(237, 240, 46, 0.4) -5px 5px, rgba(224, 240, 46, 0.3) -10px 10px, rgba(195, 240, 46, 0.2) -15px 15px, rgba(233, 240, 46, 0.1) -20px 20px, rgba(175, 240, 46, 0.05) -25px 25px;
 

}

/******** Button Style  **************/

.styled-button{
  margin-top: 20px;
  margin-bottom: 20px;
  appearance: none;
  outline: none;
  border: none;
  background: none;
  padding: 4px 12px;
  background-color: #3f4229;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: .4s;
}

.styled-button:hover {
  background-color: #F5E883;
  color: #1B0E73;
}
.search-btn {
  margin-top: 10px;
  margin-bottom: 10px;
}

.your-tours-btn, .add-brewery-btn {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 15px;
}


.remove-button {
  margin-top: 10px;
}


/******   BREWRIES INDEX SHOW STYLE   ******/

.empty-brew-div {
  padding: 5px;
}

.all-brew-containter {
  margin-top: -1px;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  column-gap: 0px;
  row-gap: 24px;
  max-width: 948px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card {
  height: 250px;
  width: 310px;
  border: 3px solid;
  color: #090b13;
  border-radius: 10px;
  text-align: center;
  border-color: #090b13;
  font-size: 12px;
  line-height: 16px;
  box-shadow: 0 5px 10px rgba(31, 23, 23, 0.05), 0 15px 40px rgba(226, 245, 169, 0.2);
  background-color: whitesmoke;
  font-family: 'Quicksand', sans-serif;
}

.beerworld {
  width: 35px;
  height: 35px;
}

.brew-Title {
  font-family: 'Quicksand', sans-serif;
}

.location label {
  padding-right: 5px;
}
.location input {
  margin-left: 5px;
  padding-bottom: 2px;
}

.location .submit {
  margin-top: 10px;
}

.breweries p a {
  margin-left: 115px;
  margin-right: 115px;
}

.city-state-input {
  margin-top: 20px;
}

/*** Brwery Search  ***/

.all-brew-containter {
  background-color: #090b13;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}


.item1 {
  padding-right: 30px;
}


/*** Brwery Search  ***/

footer {
  text-align: center;
  background-color: #090b13;
  padding: 1px;
  margin-top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  color: white;
  font-family: 'Bebas Neue', cursive;
}

.sorry-background {
  background-color: #cccccc;
  border: 3px solid;
  padding: 5px;
  margin-top: 100px;
}

.sorry-background {
  background-color: #cccccc;
  border: 3px solid;
  padding: 5px;
  margin-top: 100px;
}

@media (width >= 300px) {
  .sorry-background {
    background-color: #cccccc;
    border: 3px solid;
    padding: 5px;
    margin-top: 100px;
    text-align: center;
  }

}

/* #root {
  
} */

