.container2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  column-gap: 0px;
  row-gap: 24px;
  max-width: 948px;
  margin: 0 auto;
  
}

.card2 {
  height: 120px;
  width: 300px;
  border: 3px solid;
  border-radius: 10px;
  text-align: center;
  border-color: rgb(159, 167, 18);
  font-size: 12px;
  line-height: 15px;
  box-shadow: 0 5px 10px rgba(31, 23, 23, 0.05), 0 15px 40px rgba(226, 245, 169, 0.2);
  background-color: aliceblue;
}

.center-title {
  text-align: center;
  background-color: aliceblue;
  border: 1px solid;
  margin-left: 30%;
  margin-right: 30%;
}

.background_modal{
  background-image: url("/images/light-beer-background_135108-444.jpeg");
  overflow:hidden;

}

.card2 a {
  margin-left: 30%;
  margin-right: 30%;
}